.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: pink;
}
.nav-container a {
    text-decoration: none;
}
.home {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.pages {
    text-align: center;
}
.pages ul {
    display: flex;
}

.pages li {
    padding: 0rem 1rem 0.5rem 1rem;
    list-style: none;
}